/* sidebar */
.sidebar {
  min-width: 200px;
}

.sidebar-nav a {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: var(--font-size-small);
}

.sidebar-nav a:hover {
  opacity: 0.8;
  transition: 0.4s;
}

.sidebar-nav a i {
  color: var(--color-dark);
}
